<div class="menu">
    <div class="task_box">
        <div class="task_upper_box">
            <img src="assets/images/Prohibited_words.png">
            <p>Angular list of prohibited words</p>
        </div>
        <div class="task_down_box">
            <button type="button" class="btn btn-success" [routerLink]="[ '/works' ]">details</button>
        </div>
    </div>
    <div class="task_box">
        <div class="task_upper_box">
            <img src="assets/images/Users_list.png">
            <p>Angular users list</p>
        </div>
        <div class="task_down_box">
            <button type="button" class="btn btn-success" [routerLink]="[ '/works/userslist' ]">details</button>
        </div>
    </div>
    <div class="task_box">
        <div class="task_upper_box">
            <img src="assets/images/Task_list.png">
            <p>Angular task list</p>
        </div>
        <div class="task_down_box">
            <button type="button" class="btn btn-success" [routerLink]="[ '/works/tasklist' ]">details</button>
        </div>
    </div>
</div>