ul{
    width: 100%;
    padding-top: 8px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.last_works{
    margin: 0 15px;
    line-height: 41px;
}
.back_to{
    margin-right: 15px;
    color: rgb(228, 4, 4);
    text-decoration: none;
    line-height: 42px;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input{
    width: 900px;
}
.addBtn{
    width: 200px;
    height: 38px;
}
.active_link{
    color: green;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}